p {
  margin: 0 !important;
}

.background {
  background-color: #000000;
  height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.titleText {
  color: rgb(173, 13, 13);
  font-size: 45px;
  font-weight: 600;
  margin: 0 !important;
}

/* Movies */

.moviesContainer {
  padding: 30px 0 30px 0;
  display: flex;
  justify-content: center;
}

.filmCard {
  border: none;
}

.posterContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.posterContainer img {
  height: 350px !important;
  object-fit: cover;
  width: 200px !important;
}

.card {
  border: none;
}
.card-body {
  padding: 5px 0 5px 10px !important;
  margin: 0 !important;
}

.col {
  padding: 0 5px 0 5px !important;
}

.movieTitle {
  color: rgb(173, 13, 13);
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  word-wrap: break-word;
}

.featuresMovie {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
}

.featuresValue {
  color: #6c757d;
  font-size: 20px;
  font-weight: 500;
}

.schedule {
  padding: 15px 0 0 15px !important;
}

.scheduleCard {
  border: 1px solid rgba(66, 66, 66, 0.5);
}

.cardTitle {
  border: 1px solid rgba(66, 66, 66, 0.205);
}

.scheduleCardTitle {
  text-align: center;
  color: #a4161a;
  font-size: 20px;
  font-weight: 700;
}

.positionsTitle {
  color: #a4161a;
  font-size: 15px;
  font-weight: 700;
}

.positionsValue {
  color: #6c757d;
  font-size: 15px;
  font-weight: 700;
}

.btnCardContainer {
  text-align: center;
}

.btnAvailability {
  text-align: center;
  align-items: center;
  color: white;
  font-size: 13px;
  border-radius: 15px;
  text-transform: uppercase;
}

.btnAvailability:hover {
  color: white;
}
