<div>
  <!-- premiumcard -->
  <div class="background">
    <p class="titleText">{{ "PREMIUM CARD" | translate }}</p>
  </div>
  <div>
    <div class="row w-100">
      <div class="col">
        <div class="contImg"><img [src]="fotoCard" alt="CardImg"></div>
        <p>Descuento del 30% en la compra de boletas.</p>
        <div class="contentButton">
          <button class="btn  btn-lg" onclick="window.location.href='/payment'">COMPRAR</button>
        </div>
      </div>
      <div class="col">
        <div class="contImg"><img [src]="fotoCard" alt="CardImg"></div>
        <p>Descuento del 10% en confiteria.</p>
        <div class="contentButton">
          <button class="btn  btn-lg" onclick="window.location.href='/payment'">COMPRAR</button>
        </div>
      </div>
      <div class="col">
        <div class="contImg"><img [src]="fotoCard" alt="CardImg"></div>
        <p>Detalle del dia de cumpleaños.</p>
        <div class="contentButton">
          <button class="btn btn-lg " onclick="window.location.href='/payment'">COMPRAR</button>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>