.background {
  background-color: #1f1d1d;
  height: 60px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.carousel-item img {
  max-height: 350px;
  object-fit: cover;
  width: 100%;
}

.titleText {
  color: white;
  font-size: 45px;
  font-weight: 600;
  margin: 0 !important;
}

p {
  color: #000000;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  word-wrap: break-word;
  text-align: center;
}
.contentButton{
  text-align: center;
  align-items: center;
}
.btn{
  background-color: #1f1d1d;
  color: white;
  align-items: center;  
  border: 0 !important;
}
.btn:hover{
  background-color: #504d4d ;
  color: white;
  align-items: center;  
  border: 0 !important;
}
.contImg{
  display: flex;
  justify-content: center;
  text-align: center;

}