.background {
  background-color: #000000;
  height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.titleText {
  color: rgb(173, 13, 13);
  font-size: 45px;
  font-weight: 600;
  margin: 0 !important;
}

/* Billboard */

.billboardContainer {
  padding: 30px 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.billboardCardContainer {
  padding: 0 10px 0 10px;
}

.billboardCard {
  
}

.movieTitle {
  background-color: #495057;
  color: white;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.reserveBtn {
  background-color: #031109;
  color: white;
  font-size: 15px;
  font-weight: 700;
  border: none;
  outline: none;
  text-align: center;
}
.reserveBtn:hover {
  background-color: #ba181b;
}

.imageMovieContainer {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

.imageMovieContainer img {
  height: 300px !important;
  object-fit: cover;
  width: 100%;
}

.soonBtn {
  background-color: #031109;
  color: white;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}
