<section class="sectionLogin">
  <div class="row g-0">
    <!-- Slider -->
    <div class="col-4 slider d-flex">
      <div
        id="carouselExampleSlidesOnly"
        class="carousel slide carouselStyle"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <img [src]="movie1" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img [src]="movie2" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img [src]="movie3" class="d-block w-100" alt="..." />
          </div>
        </div>
      </div>
    </div>
    <!-- Form Login -->
    <div class="col d-flex">
      <form [formGroup]="userProfileForm" (ngSubmit)="  onUpdatePassword()"  class="formContainer">
        <div class="boxContainer">
          <div class="intoFormContainer">
            <div class="mb-3">
              <p class="iniciarSesion">CAMBIAR CONTRASEÑA</p>
              <p class="information">Digita tu nueva contraseña!</p>
              <input
                class="form-control inputs"
                placeholder="Nueva Contraseña"
                formControlName="password"
              />
              <br>
              <input
              class="form-control inputs"
              placeholder="Confirmar Contraseña"
              formControlName="confirmpassword"
              />
            </div>
          </div>
          <div class="text-center pt-1">
            <button type="submit" class="btn btnEnviar">Cambiar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
